// Карточка товара общие стили
.card-tour
    height: 50rem
    perspective: 150rem //свойство чтобы предать карточки эффект 3d вращения
    -maz-perspective: 150rem
    position: relative
    &__side //стили для каждой стороны карточки
        height: 50rem
        transition: all .7s ease-out
        color: white
        position: absolute
        top: 0
        left: 0
        width: 100%
        backface-visibility: hidden //делает заднююсторону невидимой
        box-shadow: $box-shadow
        border-radius: .5rem
        overflow: hidden
        &_front //стили для передней стороны карточки

        &_back //стили для задней стороны карточки
            background: green
            transform: rotateY(180deg)
            background: linear-gradient(120deg, $color-brown-light, $color-brown-dark)
    // поворот карточки при наведении
    &:hover &__side_front
        transform: rotateY(-180deg)
    &:hover &__side_back
        transform: rotateY(0deg)

    // стили для передней части карточки
    &__img
        background-blend-mode: hard-light //эффкт наложения для картинки
        height: 21rem
        clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 80%)
        &_1
            background: $color-brown-light url(../img/card-1.jpg) center / cover no-repeat
        &_2
            background: $color-brown-light url(../img/card-2.jpg) center / cover no-repeat
        &_3
            background: $color-brown-light url(../img/card-3.jpg) center / cover no-repeat

    &__title //стили для заголовка
        font-size: 2.8rem
        letter-spacing: .2rem
        font-weight: 300
        text-transform: uppercase
        text-align: right
        position: absolute
        top: 17rem
        right: 0
    &__span //стили для span заголовков
        background: linear-gradient(90deg, $color-brown-light, $color-brown-dark)
        padding: 1rem 2rem .3rem 2rem
        &_1
        &_2
            position: absolute
            top: 3.4rem
            right: 0
            padding-bottom: 1rem
            padding-top: 0
    &__descr //стили для списков
        ul
            list-style: none
            margin: 0 auto
            width: 75%
            text-align: center
            li
                font-size: $font-size-paragraph
                letter-spacing: .2rem
                color: $color-grey
                border-bottom: 1px solid $color-grey
                display: inline-block
                &:not(:last-child)
                    margin-bottom: 2rem
                    
    //стили для задней сторогы карточки
    &__backSide-box
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
    &__text
        margin-bottom: 8rem
        letter-spacing: .2rem
        text-transform: uppercase
        text-align: center
        color: $color-white
        &_1
            font-size: $font-size-paragraph
            font-weight: 300
        &_2
            font-size: 6rem
            font-weight: 500
